@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Momo+Signature&family=Monsieur+La+Doulaise&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: "Poppins", sans-serif;
}

.main {
    background-image: url(assets/images/bg.jpg);
    height: 70vh;
    background-size: max(1200px, 100vw);
    position: relative;
    height: 644px;
    background-position: center center;

}

body {
    background-color: black;
}

.main .box {
    height: 70vh;
    width: 100vw;
    background-position: center center;
    background-repeat: none;
    background-size: 100vw;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {

    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    max-width: 60vw;
    height: 100px;

}

nav img {
    width: 133px;
    color: red;
    position: relative;
    z-index: 10;

}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    height: 100%;
    color: rgb(255, 255, 255);
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: "Martel Sans", sans-serif;
    gap: 20px;
    padding: 30px;
    text-align: center;
}

.hero h3 {
    font-size: 48px;
    font-weight: bolder;
    text-align: center;
}

.hero:nth-child(3) {
    font-weight: 700;
    font-size: 24px;
}

.saparation {
    height: 7px;
    background-color: rgb(49, 48, 48);
    position: relative;
    z-index: 10;

}

.btn {
    padding: 3px 8px;
    font-weight: bolder;
    background-color: rgba(248, 243, 243, 0.073);
    color: white;
    border: 1px solid white;
    cursor: pointer;
    font-weight: 400;
}

.btn-red-sn {
    background-color: red;
    color: white;
}

.btn-red {
    background-color: red;
    padding: 9px 32px;
    font-size: 20px;
    border-radius: 4px;
    color: white;
    font-weight: bold;

}

.main input {
    text-align: center;
    font-size: 15px;
    border-radius: 4px;
    padding: 17px 129px 8px 15px;
    background-color: rgba(23, 23, 23, 0.2);
    color: white;
    border: 1px solid white;
    line-height: 1.5;
    font-weight: 400;

}


.hero_buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.Frist {

    display: flex;
    justify-content: center;

    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;


    max-width: 70vw;
    margin: auto;



}

.SecImg {
    position: relative;
}

.SecImg img {
    width: 555px;
    z-index: 10;
    position: relative;


}

.SecImg video {
    position: absolute;
    top: 51px;
    right: 0;
    width: 555px;

}

.Frist>div:first-child {
    font-weight: bolder;
    font-size: 48px;

}

.small {

    font-weight: bolder;
    font-size: 20px;
    padding: 2px;
}

.cooment {
    display: flex;
    flex-direction: column;
}

.head {
    font-size: 37px;
}

.faq h2 {
    text-align: center;
    padding: 34px;
    font-size: 48px;
}

.faq {
    background-color: black;
    color: white;
    font-size: 24px;
}

.faqbox {
    display: flex;
    background-color: rgba(128, 128, 128, 0.371);
    max-width: 70vw;
    margin: 8px auto;
    justify-content: space-between;
    padding: 24px;
    cursor: pointer;
}

.faqbox:hover {
    background-color: rgba(128, 128, 128, 0.485);
}

.faqbox svg {
    filter: invert(1);
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    margin: auto;
    padding: 27px;

}

.qution {
    padding: 34px 0px;
}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
}

.fotter-item {
    display: flex;
    flex-direction: column;
    gap: 24px;
    cursor: pointer;



}

footer a {
    text-decoration: underline;
    color: white;
    font-size: 14px;
}

footer a:active {
    color: red;
}